body {
  background: url(https://www.ibm.com/content/dam/connectedassets-adobe-cms/worldwide-content/stock-assets/getty/image/photography/89/ac/dscf1938.component.xl.ts=1698258322493.jpg/content/adobe-cms/kr/ko/weather/_jcr_content/root/leadspace_container/leadspace);
  height: 100vh;
  background-repeat: none;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.weather-box {
  border: 3px solid white;
  padding: 50px;
  border-radius: 10px;
  background-color: azure;
}
